<div id="div_anadir_libro">
  <div>
    <label>T&iacute;tulo: </label>
    <input type="text" id="anadir_libro_titulo" required>
  </div>
  <div id="div_descripcion">
    <label>Descripci&oacute;n: </label>
    <textarea id="anadir_libro_descripcion" required></textarea>
  </div>
  <div>
    <label>Autor: </label>
    <input type="text" id="anadir_libro_autor" required>
  </div>
  <div>
    <label>Categor&iacute;a: </label>
    <input type="text" id="anadir_libro_categoria" required>
  </div>
  <div>
    <label>Imagen: </label>
    <input type="file" id="anadir_libro_imagen" required>
  </div>
  <button id="btn_anadir_libro" class="form-control">Añadir libro</button>
</div>
<link rel="stylesheet" media="all" href="/experience_backend/web/modules/custom/anadir_libro/src/css/anadir_libro.css">
<script src="/experience_backend/web/modules/custom/anadir_libro/src/js/anadir_libro.js"></script>