<div id="div_formulario_contacto">
  <div class="fila">
    <label for="email_fc">Email: </label>
    <input type="text" id="email_fc" name="email_fc" placeholder="Escribe tu email" required>
  </div>
  <div class="fila">
    <label for="asunto_fc">Asunto: </label>
    <input type="text" id="asunto_fc" name="asunto_fc" required>
  </div>
  <div class="fila">
    <label for="texto_fc">Texto: </label>
    <textarea id="texto_fc"></textarea>
  </div>
</div>

